---
---
<!DOCTYPE html>
<html lang="fa">

{% assign page_metadata = site.data.json.root.metadata_list[0] %}

<body>
  {% include header.html %}
  <div>
    {% include sidebar.html %}
    <main>

      <article class="index-content">
        <h1>{{ page_metadata.title }}</h1>

        <div class="slider-container">

          <div class="slider-wrapper">

            <figure class=" slide">
              <a href="/post/java/objects-and-classes.html" class="slide-link">
                <img class="slide-img" src="/resources/image/course_banners/course_java_oop_banner.png"
                  alt="آموزش شی‌گرایی در جاوا">
                <figcaption class="slide-caption">
                  آموزش شی‌گرایی در جاوا
                </figcaption>
              </a>
            </figure>

            <figure class=" slide">
              <a href="/post/kotlin/objects-and-classes.html" class="slide-link">
                <img class="slide-img" src="/resources/image/course_banners/course_kotlin_oop_banner.png"
                  alt="آموزش شی‌گرایی در کاتلین">
                <figcaption class="slide-caption">
                  آموزش شی‌گرایی در کاتلین
                </figcaption>
              </a>
            </figure>

            <figure class=" slide">
              <a href="/post/kotlin/functions.html" class="slide-link">
                <img class="slide-img"
                  src="/resources/image/course_banners/course_kotlin_functional_programming_banner.png"
                  alt="شروع آموزش برنامه‌نویسی تابعی در کاتلین">
                <figcaption class="slide-caption">
                  شروع آموزش برنامه‌نویسی تابعی در کاتلین
                </figcaption>
              </a>
            </figure>
            <figure class=" slide">
              <a href="/post/java/collection.html" class="slide-link">
                <img class="slide-img" src="/resources/image/course_banners/course_java_collection_banner.png"
                  alt="شروع آموزش کالکشن ها در جاوا">
                <figcaption class="slide-caption">
                  شروع آموزش کالکشن ها در جاوا
                </figcaption>
              </a>
            </figure>

            <figure class=" slide">
              <a href="/post/java/multithreading.html" class="slide-link">
                <img class="slide-img" src="/resources/image/course_banners/course_java_multithreading_banner.png"
                  alt="شروع آموزش چندنخی در جاوا">
                <figcaption class="slide-caption">
                  شروع آموزش چندنخی در جاوا
                </figcaption>
              </a>
            </figure>

          </div>

          <div>
            <a class="md-bt md-bt-dark slide-navigator next">
              <span class="material-symbols-outlined">navigate_next</span>
            </a>
            <a class="md-bt md-bt-dark slide-navigator prev">
              <span class="material-symbols-outlined">navigate_before</span>
            </a>
          </div>

          <div class="slider-dots-wrapper"> </div>

        </div>

        <section>
          <h2 class="index-section-head">
            <span class="material-symbols-outlined icon">local_library</span>
            <span>آموزش ها</span>
          </h2>

          <ul class="card-view-container">
            <li class="card-view-item">
              <a href="/post/java.html" class="card-view">
                <div class="card-view-header">
                  <figure>
                    <img src="/resources/image/course_banners/course_java_banner.png">
                  </figure>
                  <h3>جاوا</h3>
                </div>
                <div class="card-view-body">
                  <p>آموزش رایگان و جامع زبان برنامه نویسی جاوا از صفر تا صد با مثال های کاربردی</p>
                </div>
                <div class="card-view-footer">
                  <span class="read-more">مطالعه</span>
                </div>
              </a>
            </li>
            <li class="card-view-item">
              <a href="/post/kotlin.html" class="card-view">
                <div class="card-view-header">
                  <figure>
                    <img src="resources/image/course_banners/course_kotlin_banner.png">
                  </figure>
                  <h3>کاتلین</h3>
                </div>
                <div class="card-view-body">
                  <p>آموزش رایگان و جامع زبان برنامه نویسی کاتلین از صفر تا صد.</p>
                </div>
                <div class="card-view-footer">
                  <span class="read-more">مطالعه</span>
                </div>
              </a>
            </li>
            <li class="card-view-item">
              <a href="/post/algorithm.html" class="card-view">
                <div class="card-view-header">
                  <figure>
                    <img src="resources/image/course_banners/course_algorithm_banner.png">
                  </figure>
                  <h3>الگوریتم</h3>
                </div>
                <div class="card-view-body">
                  <p>آشنایی با الگوریتم ها و پیاده‌سازی الگوریتم ها در برنامه نویسی.</p>
                </div>
                <div class="card-view-footer">
                  <span class="read-more">مطالعه</span>
                </div>
              </a>
            </li>
            <li class="card-view-item">
              <a href="/post/data-structure.html" class="card-view">
                <div class="card-view-header">
                  <figure>
                    <img src="resources/image/course_banners/course_data_structure_banner.png">
                  </figure>
                  <h3>ساختار داده</h3>
                </div>
                <div class="card-view-body">
                  <p>آموزش رایگان پیاده‌سازی های مختلف در ساختمان داده با زبان های جاوا، کاتلین، جاوااسکریپت و پایتون.
                  </p>
                </div>
                <div class="card-view-footer">
                  <span class="read-more">مطالعه</span>
                </div>
              </a>
            </li>

            <li class="card-view-item">
              <a href="/post/linux.html" class="card-view">
                <div class="card-view-header">
                  <figure>
                    <img src="resources/image/course_banners/course_linux_banner.png">
                  </figure>
                  <h3>لینوکس</h3>
                </div>
                <div class="card-view-body">
                  <p>استفاده از دستورات لینوکس در ترمینال.</p>
                </div>
                <div class="card-view-footer">
                  <span class="read-more">مطالعه</span>
                </div>
              </a>
            </li>
          </ul>

        </section>


        <section>

          <h2 class="index-section-head">
            <span class="material-symbols-outlined icon" aria-hidden="true">bolt</span>
            <span>شروع سریع</span>
          </h2>

          <aside class="redirect-link-container">

            <div>
              <a class="redirect-link" href="post/java/introduction.html">معرفی زبان برنامه نویسی جاوا</a>
            </div>

            <div>
              <a class="redirect-link" href="post/kotlin/introduction.html">معرفی زبان برنامه نویسی کاتلین</a>
            </div>

            <div>
              <a class="redirect-link" href="post/linux/introduction.html">معرفی سیستم عامل گنو لینوکس</a>
            </div>

          </aside>
        </section>
        <section>
          <h2 class="index-section-head">
            <span class="material-symbols-outlined icon" aria-hidden="true">rss_feed</span>
            <span>بلاگ</span>
          </h2>
          <aside class="redirect-link-container">
            <div>
              <a class="redirect-link" href="post/blog/programming-languages.html">انواع زبان های برنامه نویسی</a>
            </div>

            <div>
              <a class="redirect-link" href="post/blog/switch-statement-jdk-17.html">تغییرات سوییچ تا جاوا ۱۷</a>
            </div>
            <div>
              <a class="redirect-link" href="post/blog/threads.html">بررسی چندنخی (multithreading) در برنامه‌نویسی</a>
            </div>
          </aside>
        </section>

      </article>

    </main>
  </div>
  {% include footer.html %}

  {% include dialog.html %}

  <div class="scroll-top-container">
    <a class="material-symbols-outlined">
      arrow_drop_up
    </a>
  </div>
</body>

</html>
