<div class="dialog hide">

  <div class="dialog-content">

    <div class="dialog-content-head">
      <button aria-label="close" class="material-icons md-bt md-bt-light" id="bt-close-dialog" type="button">
        close
      </button>
    </div>
    <div class="dialog-content-body">

      <div>
        <p>برای اطلاع از جدیدترین مطالب یا پرسش و پاسخ عضو <strong>کانال و گروه تلگرامی</strong> ما شوید. </p>

        <div class="link-wrapper">

          <span class="fa-brands fa-telegram fa-3x"></span>
          <a class="md-bt md-bt-dark-blue bt-redirect" href="https://t.me/KodeDevel_Chat" rel="noopener noreferrer"
            target="_blank" type="button">
            <span aria-hidden="true" class="material-symbols-outlined">forum</span>
            <span>عضویت در گروه تلگرام</span>
          </a>

          <a class="md-bt md-bt-dark-blue bt-redirect" href="https://t.me/KodeDevel" rel="noopener noreferrer"
            target="_blank" type="button">
            <span aria-hidden="true" class="material-symbols-outlined">campaign</span>
            <span>عضویت در کانال تلگرام</span>
          </a>
        </div>

      </div>
      <hr>
      <div>
        <div>
          <p>میتونید در بهبود یا توسعه ی کد های سایت مشارکت کنید</p>

          <div class="link-wrapper">

            <span class="fa-brands fa-github fa-3x"></span>

            <a class="md-bt md-bt-dark-blue bt-redirect" href="https://github.com/kodedevel/kodedevel.github.io"
              rel="noopener noreferrer" target="_blank" type="button">
              <span class="material-icons">link</span>
              <span>کدهای سایت</span>
            </a>

          </div>

        </div>

      </div>
    </div>

    <div class="dialog-content-foot">
      <button class="md-bt md-bt-light" id="bt-confirm">
        متوجه شدم
      </button>
      <label for="status">
        دوباره نمایش نده
        <input id="status" type="checkbox" />
      </label>
    </div>
  </div>
</div>
