<footer>

  <div class="footer-item">
    <div class="lbl-contact-us">
      ارتباط با ما
    </div>
    <span>
      <a class="contact-us-telegram" href="https://t.me/skybirdbits" target="_blank">
        تلگرام
      </a>

      <a class="contact-us-email" href="mailto:contact.kodedevel@gmail.com" target="_blank">
        ایمیل </a>
    </span>
  </div>

  <div class="footer-item">
    <a class="source-code-url" href="https://github.com/kodedevel/kodedevel.github.io" target="_blank">2025 KodeDevel,
      GPL</a>
  </div>

</footer>
