<footer>
  <div class="footer-content">

    <div class="footer-content-item">
      <a href="https://t.me/skybirdbits">
        <span class="material-symbols-outlined">chat</span>ارتباط با ما
      </a>
    </div>

    <div class="footer-content-item">
      <a href="https://t.me/KodeDevel" type="button">
        <span class="material-symbols-outlined">campaign</span>کانال تلگرام
      </a>


      <a href="https://t.me/KodeDevel_Chat">
        <span class="material-symbols-outlined">forum</span>گروه تلگرام
      </a>

    </div>

    <div class="footer-content-item">
      <a href="https://github.com/kodedevel/kodedevel.github.io" class="p-2">2025 KodeDevel, GPL</a>
      <i class="fa-brands fa-github fa-2x"></i>
    </div>
  </div>
</footer>
