<header>
  <div class="navbar">
    <div class="navbar-content">

      <button class="md-bt md-bt-navbar-toggle material-symbols-outlined" type="button" id="bt_show_sidebar">
        menu
      </button>

      <search class="search-container">

        <input class="search-field" id="search-field" placeholder="جستجو" type="text" name="search">

        <button type="button" class="md-bt md-bt-clear">
          <span class="material-symbols-outlined">close_small</span>
        </button>

        <div class="search-result-container">
          <!-- search results go here from typescript -->
        </div>

      </search>
      <a class="navbar-brand show" href="/" id="brand">
        <span>KodeDevel</span>
      </a>
    </div>
  </div>
</header>
