<div aria-labelledby="sidebar_label" class="sidebar" id="sidebar" tabindex="-1">

  <div class="sidebar-head">

    <button aria-label="close" class="material-symbols-outlined md-bt md-bt-dark sidebar-head-button" type="button"
      id="bt_hide_sidebar">
      close
    </button>

    <a href="/" class="sidebar-head-label" id="sidebar_label">
      <span>KodeDevel</span>
    </a>
  </div>


  <div>

    <div class="sidebar-list">

      <p class="sidebar-list-label" aria-hidden="true">
        لیست مطالب سایت
      </p>

      {% for data in site.data.json.post %}

      {% assign category = data[1] %}

      <div class="sidebar-item">

        <div class="sidebar-course-head">

          <button class="md-bt-expandable" data-target="{{ category.id }}">
            <span>{{ category.name }}</span>
            <div class="badge-container material-symbols-outlined">
              <span data-info="{{ category.metadata_list.size }}" class="badge">app_badging</span>
              <span data-info="min" class="badge">timer</span>
            </div>
          </button>

        </div>

        <div class="sidebar-course-content" id="{{ category.id }}">
          {% assign metadata_list = category.metadata_list %}
          <ol>
            {% for metadata in metadata_list %}
            <li><a href="{{metadata.link}}">{{ metadata.title }}</a></li>
            {% endfor %}
          </ol>
        </div>

      </div>

      {% endfor %}
    </div>

    <div class="sidebar-list">
      <a class="sidebar-item sidebar-item-about" href="/about.html">
        درباره
      </a>
      <a class="sidebar-item sidebar-item-contact" href="https://t.me/skybirdbits">ارتباط با ما</a>
    </div>

  </div>

</div>
