.article-head{
    word-wrap: break-word;
    padding: 8px;
}

.article-meta{
  color: #757775;
  font-size: 0.88rem;
  font-weight: bold;
  border-bottom: 1px solid #0D47A1;
  border-top: 1px solid #0D47A1;
  padding: 16px 0;
  margin-top: 16px;
  margin-bottom: 48px;
}

.page-wrap{
    max-width: 732px;
    margin: 0 auto;
    direction: rtl;
}

.article-meta .author{
    color: #212121;
    font-style: normal;
}

.article-meta > * {
  margin: 8px 4px 8px 0;
}

.sample{
    border-radius: 4px;
    background: #eeeeee;
    margin-bottom: 16px;
    margin: 16px 4px;
    direction: ltr;
}

.snippet{
    display: block;
}

.code-wrap{
     padding-bottom: 12px;
     overflow-x: auto;
     overflow-y: hidden;
}

.code-body{
    border-bottom: 2px solid #0D47A1;
    background: white;
}


.code{
   width: 100%;
   height: auto;
   padding-top: 4px;
   white-space: pre;
   position:relative;
   padding-right: 10px;
   padding-left: 10px;
   padding: 4px 8px;
   vertical-align: top;
   word-wrap: anywhere;
   margin: 0;
}

.code-line-number{
    background: #eeeeee;
    min-width: 25px;
    white-space: nowrap;
    vertical-align: top;
    padding: 4px 8px;
    cursor: initial;
    user-select: none;
    text-align: right;
}

.sample .sample-head{
    position: relative;
    padding: 8px;
    background: #0D47A1;
    border-radius: 3px 3px 0 0;
    display: flex;
    justify-content: end;
}

 .copy-message{
    max-width: 100%;
    width: 100%;
    max-height: 48px;
    background-color: #212121;
    padding: 16px;
    position: fixed;
    justify-content: end;
    display: flex;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 2;
    transform: translateY(128px);
    transition: all 500ms ease-in-out;
}

.copy-message.showMessage{
  transform: translateY(0px);
}

.copy-message .copy-message-text{
    color: #fafafa;
    margin-left: 24px;
}



.toc{
  margin: 32px 16px;
  border: 1px solid #bcbcbc;
  border-radius: 8px;
  overflow: hidden;
}

.toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc div {
  margin-right: 8px;
  padding: 8px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.toc ul li{
  width: 100%;
  border-top: 1px solid #bdbdbd;
  padding: 4px 8px;
}

.toc ul li a{
  display: block;
  width: 100%;
}


.tb{
    display: block;
    width: 100%;
    height: wrap-content;
    margin-bottom: 24px;
    direction: ltr;
}

.tb .tRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e1f5fe;
}

.tRow .tHead{
    width: 100%;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    background-color: #80d8ff;
    border-radius: 8px;
    padding: 8px 0;
}

.tRow .tDataLTR{
    direction: ltr;
    font-weight:bold;
    padding: 16px 8px;
}

.tRow .tDataRTL{
    direction: rtl;
    padding: 16px 8px;
}

.course-category{
  width: 100%;
  height: fit-content;
  background-color: #01579B;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
  border-radius: 4px;
  margin-bottom: 8px;
  overflow: hidden;
}


.note{
  width: 100%;
  height: fit-content;
  direction: rtl;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  background:#E1F5FE;
  border-radius: 8px;
}

.note .note-head{
    font-size: 1em;
    font-weight: bold;
}

.scroll-top-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bdbdbd;
    width: 36px;
    height: 36px;
    right: 32px;
    bottom: 64px;
    background: white;
    border-radius: 18px;
    visibility: hidden;
}

.scroll-top-container:hover{
    background: #eeeeee;
}

.article-foot{
    display: block;
    min-height: 150px;
    background-color: #f5f5f5;
    margin: 48px 8px 0 8px;
    padding-bottom: 8px;
    overflow: none;
}

.article-foot .post-navigation-container{
  display: flex;
  min-height: 32px;
  background: #01579b;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: none;
  justify-content: space-between;
  padding: 8px;
}

.article-foot h2, .article-foot h3{
  margin: 0 8px 0 0;
  padding-bottom: 8px;
}

.article-foot ul, .article-foot li{
  margin: 0 12px 0 0;
  padding: 6px 0;
  list-style-type: none;
}
