html{
  font-family: "Vazirmatn", sans-serif;
  font-weight: normal;
  
  direction: rtl;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}

main{
  position: relative;
  background-color: #ffffff;
  max-width: 732px;
  margin: auto;
  padding-bottom: 64px;
  font-variant-ligatures: normal;
}

section {
  padding: 0 6px;
  margin-bottom: 24px;
}


footer {
  width: 100%;
  background-color: #212121;
  flex-wrap: wrap;
}

figure {
  width: 100%;
  margin: 0;
}

img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

figcaption{
  color: #757575;
  padding: 2px 8px;
}

pre{
  font-family: "JetBrains Mono", monospace;
  font-size: 0.9em;
  margin: 0;
  border-right: 1px solid #bdbdbd;
}

table{
  border-collapse: collapse;
}

a, button, input, textarea, select, [role="button"], [onclick]{
  -webkit-tap-highlight-color: transparent !important;
}
