html{
  font-family: "Vazirmatn", sans-serif;
  font-weight: normal;
  
  direction: rtl;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}

main{
  position: relative;
  background-color: #ffffff;
  max-width: 732px;
  margin: auto;
  padding-bottom: 64px;
  font-variant-ligatures: normal;
}

section {
  padding: 0 6px;
  margin-bottom: 24px;
}


footer {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  background-color: #212121;
  color: #fafafa;
  flex-wrap: wrap;
  padding: 4px 0;
}

figure {
  width: 100%;
  margin: 0;
}

img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

figcaption{
  color: #757575;
  padding: 2px 8px;
}

pre{
  font-family: "JetBrains Mono", monospace;
  font-size: 0.9em;
  margin: 0;
  border-right: 1px solid #bdbdbd;
}

table{
  border-collapse: collapse;
}

a, button, input, textarea, select, [role="button"], [onclick]{
  -webkit-tap-highlight-color: transparent !important;
}

*::before, *::after{
  font-family: "Material Symbols Outlined";
  vertical-align: middle;
  font-size: 24px;
}

a[href^="http"]:not([href*="kodedevel"]):not([href*="github.com/kodedevel"]):not([href*="t.me/skybirdbits"])::before,
a[href^="https"]:not([href*="kodedevel"]):not([href*="github.com/kodedevel"]):not([href*="t.me/skybirdbits"])::before {
  content: "\e89e";
  vertical-align: top;
  font-size: 0.8em;
  margin-left: 4px;
}
