html{
  direction: rtl;
  scroll-behavior: smooth;
}


body{
  margin: 0;
  padding: 0;
}

main{
  position: relative;
  background-color: #ffffff;
  max-width: 732px;
  margin: auto;
  padding-bottom: 64px;
  font-variant-ligatures: normal;
}

section {
  padding: 0 6px;
  margin-bottom: 24px;
}

li{
  padding: 6px;
}

footer {
  width: 100%;
  background-color: #212121;
  flex-wrap: wrap;
}

figure {
  width: 100%;
  margin: 0;
}

img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

figcaption{
  color: #757575;
  padding: 2px 8px;
}


pre{
  font-size: 0.95rem;
  margin: 0;
  font-family: JetBrains Mono;
  border-right: 1px solid #bdbdbd;
}

table{
  border-collapse: collapse;
}
