main{
  position: relative;
  background-color: #ffffff;
  max-width: 732px;
  min-height: 64vh;
  margin: 0 auto;
  padding-bottom: 64px;
  direction: rtl;
  font-variant-ligatures: normal;
}

nav{
  background-color: #212121;
  min-height: 80px;
}

section {
  padding: 0 6px;
  margin-bottom: 24px;
}

li{
  padding: 6px;
}

footer {
  width: 100vw;
  background-color: #212121;
  flex-wrap: wrap;
}

header{
  width: 100vw;
}
