.md-bt{
    border:none;
    cursor: pointer;
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
}

.md-bt .hint{
  visibility: hidden;
  width: auto;
  height: auto;
  background-color: #212121;
  color: #fafafa;
  text-align: center;
  padding: 4px 0;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
}

.md-bt.md-bt-dark{
     color: #fafafa;
     background-color: #212121;
}

.md-bt.md-bt-dark-blue{
    color: #fafafa;
    background-color: #01579B;
}

.md-bt-dark-blue:hover{
    background-color: #0277BD;
}

.md-bt.md-bt-light{
    color: #212121;
    background-color: #fafafa;

}

.md-bt-light:hover{
    background-color: #eeeeee;
}

.md-bt-dark:hover{
    background-color: #424242;
}

.md-bt-expandable{
    display: flex;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    color: #212121;
    padding: 8px 0;
    margin-bottom: 4px;
}

.md-bt-expandable .icon{
  font-size: 1.5em;
  transition: all 200ms ease-in;
  padding-right: 4px;
}

.md-bt-expandable .icon.expand{
  transform: rotate(-90deg);
}

.md-bt-expandable.expanded{
     background-color: #0D47A1;
     color: #fafafa;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.md-bt.md-bt-navbar-toggle{
    width: 32px;
    height: 32px;
    background-color: transparent;
    color: #fafafa;
    align-items: center;
    justify-content: center;
}

.md-bt.md-bt-navbar-toggle:hover{
    background-color: #424242;
}

.md-bt.md-bt-light.bt-back-home{
  display: block;
  text-align: end;
}

.md-bt.md-bt-light.bt-back-home::after{
  content: "arrow_back";
}

.snippet-toggler{
    position: relative;
    padding: 8px;
    background: #546e7a;
    display: flex;
    justify-content: flex-start;
}

input[type=radio].snippet-toggle-button{
    display: none;
}

input[type=radio].snippet-toggle-button + label{
    display: block;
    position: relative;
    width: 15%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    text-align: center;
    background-color: #eceff1;
}

input[type=radio]:checked + label {
    background-color: #cfd8ec;
}
