.comment-container{
  padding: 4px 16px;
  background-color: #f5f5f5;
  margin-bottom: 24px;
  border-radius: 8px;
}

.comment-container h2 {
  border-radius: 0;
  background: transparent;
  width: auto;
}

.comment-container .comments{
  padding: 4px 8px 16px 8px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 16px;
}

.comment{
  margin: 0 8px;
  padding: 8px;
  font-size: 0.88rem;
  border-bottom: 1px solid #757575;
}

.comment-body{
  color: #212121;
}

.author-info{
  display: flex;
  flex-direction: row;
}

.author-url{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #212121;
}

.author-url:hover{
  color: #0D47A1;
}

.author-avatar{
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin: auto 8px;
}

.author-name{
  margin: auto 8px;
}

.comment-date{
  color: #757575;
  margin-right: 8px;
}
