.navbar{
  position: relative;
  display:flex;
  background-color: #212121;
  min-height: 80px;
  width: 100%;
  align-items: center;
  top: 0;
  z-index: 3;
}

.navbar-brand{
  color: #fafafa;
  text-decoration: none;
  opacity: 1;
  transition: all 500ms ease-in-out; 
  transform: translateX(0px);
}


.navbar-content{
  display:flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-content: center;
  margin: 0 20px;
  padding: 8px;
  font-size: 1.2rem;
}

.sidebar{
  display: block;
  position: fixed;
  width: 340px;
  min-height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  box-shadow: -5px 0 10px -5px rgba(0,0,0, 0.1);
  z-index: 4;
  transition: transform ease-in-out 500ms;
  transform: translateX(400px);
}

.sidebar.show{
  transform: translateX(0px);
}

.sidebar.hide{
  transform: translateX(400px);
}

.sidebar-head{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 100%;
  background-color: #212121;

}

.sidebar-head-title{
  font-size: 1.2rem;
  color: #fafafa ;
}

.sidebar-head-label{
  margin-left: 8px;
  color: #fafafa;
}

.sidebar-head-label:hover{
  color: #eeeeee;
}

.sidebar-head-button{
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.subject-list-container{
  position: relative;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: transparent;
    padding-bottom: 8px;
    transition: max-height 200ms ease;
}

.footer-item{
    display: block;
    padding: 8px;
    margin: auto;
}

.footer-item .lbl-contact-us{
  padding: 8px;
  text-align: center;
}

.footer-item .contact-us-telegram::before{
  content: "person";
}

.footer-item .contact-us-email::before{
  content: "email";
}

.footer-item .source-code-url::before{
  content: "commit";
}

.navbar-brand{
  color:#fafafa !important;
}

.navbar-brand:hover{
  color: #e0e0e0 !important;
}

.dialog {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    position: fixed;
    background-color: rgba(0,0,0, 0.6);
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1100;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.dialog.show{
    visibility: visible;
    opacity: 1;
}

.dialog.hide{
    visibility: hidden;
    opacity: 0;
}

.dialog .dialog-content{
    display: block;
    width: auto;
    max-width: 480px;
    visibility: hidden;
    background-color: #fafafa;
    padding: 16px;
    margin: 0 8px;
    border-radius: 16px;
    transform: scale(0.9);
    transition: visibility 0.4s ease-in-out ,transform 0.4s ease-in-out;
}

.dialog-content .dialog-content-head{
    padding: 8px;
}

.dialog-content .dialog-content-body{
    padding: 0 16px 32px 16px;
    margin: 8px 0;
}

.dialog-content-body .link-wrapper{
    display: flex;
    justify-content: center;
    margin-right: 8px;
}

.dialog-content-body .link-wrapper .md-bt.md-bt-dark-blue.bt-redirect {
  margin-right: 8px;
  padding: 8px;
}

.dialog-content .dialog-content-foot{
    display: flex;
    background-color: #212121;
    color: #fafafa;
    padding: 16px;
    border-radius: 16px;
    direction: ltr;
    align-items: center;
    justify-content: space-between;
}

.dialog.show .dialog-content{
    visibility: visible;
    transform: scale(1);
}

