.card-view{
  background-color: #fafafa;
  border-radius: 8px;
  max-width: 480px;
  width: auto;
  height: auto;
  padding:8px;
  margin: 32px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-view p, .card-view a{
  margin: 8px;
}

.card-view h3{
  margin: 0;
  margin-bottom: 16px;
  background-color: #fafafa;
}

.card-view-container{
  display: block;
  background-color: white;
  width: 100%;
  height: auto;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.card-view a{
  position: relative;
  display: block;
  text-decoration: none;
  color: #212121;
  background-color: #fafafa;
  text-align: center;
  text-anchor: middle;
  padding: 8px 0;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.card-view a:hover{
  background-color: #fafafa;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

