.subject-container{
  width: 100%;
  height: auto;
  margin-top: 32px;
}

.subject-item{
  background-color: transparent;
  padding: 8px;
}

.subject-item-head {
  background-color: #f5f5f5;
  margin: 0;
  border-radius: 0;
  padding: 16px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.subject-item-content{
  width: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
  max-height: 0;
  margin: 0;
  transition: max-height 200ms ease-out;
}

.subject-item-content a{
  position: relative;
  display: block;
  text-decoration: none;
  color: #212121;
  background-color: #fafafa;
  text-align: center;
  text-anchor: middle;
  margin: 0 8px 16px 8px;
  padding: 8px 0px 8px 0px ;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.subject-item-content a:hover{
  background-color: #fafafa;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.description{
  padding: 8px;
}
