@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Vazirmatn:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("base.css");
@import url("bt.css");
@import url("text.css");
@import url("layouts.css");
@import url("utils.css");
@import url("article.css");
@import url("learn.css");

.figure {
width: 100%;
height: auto;
display: flex;
justify-content: center;
margin-top: 32px;

}

.figure .figure-img {
    max-height: 690px;
    width: 100%;
}

.offcanvas-body{
    direction: rtl;
    padding: 0px;
    margin: 0px;
}


.offcanvas-header{
    background-color: #212121;
    min-height: 80px;
    height: 80px;
}

.material-symbols-outlined{
  vertical-align: middle;
}

