button, a, p, h1, h2,h3 ,h4, h5, h6, blockquote, strong, li{
  font-family: inherit;
    text-align: justify;
    padding: 4px 0;
}

li{
  padding: 6px;
}

 h2, h3, h4, h5, h6{
    font-weight: bold;
    padding: 16px 8px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

h1{
    font-size: 1.8em;
    font-weight: bold;
    margin-right: 8px;
}

h2{
    font-size: 1.44em; 
}

h3{
   font-size: 1.152em;
}

h4{
    font-size: 0.963em;
}

blockquote {
  color: #0277BD;
  font-style: italic;
  font-weight: bold;
  margin: auto 12px 0 0;
}

 p{
 margin: 8px;
 text-align: justify;
}

a{
  text-decoration: none;
  color: #212121 ;
}

a:hover{
  color: #0D47A1;
}

article a{
  color: #1976D2;
}

footer a{
  color: #fafafa;
  margin: 2px;
  padding: 2px;
}

footer a:hover{
  color: #e0e0e0;
}

.keyword{
    color: #0033b3;
}

.string{
    color: #067d17;
}

.class-name{
    color: #ad1457;
}

.digit{
    color: #1750eb;
}

.annotation{
    color: #9e880d;
}

.comment{
    color: #8c8c8c;
}

.shell-commands{
    color: #7C4DFF;
}
