.rtl{
    direction: rtl;
}

.ltr{
    direction: ltr;
}

.icon-brand{
    width: 36px;
    height: auto;
}

.icon{
  display: inline-flex;
  font-size: inherit;
  vertical-align: middle;
  font-weight: bold;
}

.md-text-gray300{
    color: #e0e0e0;
}

.md-text-gray200{
    color: #eeeeee;
}

.md-bg-gray200{
    background-color: #eeeeee;
}
