<!DOCTYPE html>
<html lang="fa">

{% assign page_metadata = nil %}

{% for metadata in site.data.json.courses.metadata_list %}

{% if metadata.link == page.url %}
{% assign page_metadata = metadata %}

{% break %}
{% endif %}

{% endfor %}



<body>

  <header>
    <div class="navbar">
      <div class="navbar-content" style="justify-content: center;">
        <a href="/" class="navbar-brand" id="brand">
          <span>KodeDevel</span>
        </a>
      </div>
    </div>
  </header>

  <div>

    <main>

      {% include course-head.html metadata = page_metadata %}

      {{ content }}

      {% include course-foot.html %}

    </main>

  </div>


  {% include footer.html %}

  {% include dialog.html %}

  <div class="scroll-top-container">
    <a class="material-symbols-outlined">
      arrow_drop_up
    </a>
  </div>

</body>


</html>
